---
layout: base.njk
title: Kontakt
permalink: /kontakt/
---

<section class="section section--image" style="background-image: url('/images/sonnenuntergang-see.webp');">
  <div class="content-narrow">
    <h2><strong>Schön, dass du da bist.</strong></h2>

    <p><strong>Ein Erstgespräch für ein Coaching über ZOOM dauert etwa 30 Minuten</strong><br>
    <strong>und ist kostenfrei.</strong><br>
    <strong>Bei dieser ersten Begegnung möchte ich von Dir erfahren,<br>
    was Dich gerade bewegt,<br>
    wie es Dir geht, was Du Dir wünschst oder brauchst.<br>
    Gemeinsam spüren wir dann, ob es für uns beide stimmig ist,<br>
    den Weg weiter miteinander zu gehen.<br>
    Freie Plätze sind voraussichtlich wieder ab Ende Februar 2026 verfügbar.<br>
    Ein Kennenlerngespräch kann jedoch bereits jetzt vereinbart werden.<br>
    Online Coaching auf Wunsch</strong></p>

    <p><strong>Atelierraum</strong></p>

    <p><strong>Erlach-Weg 27<br>
    CH-4143 Dornach</strong></p>

    <p><strong>Für eine Jin Shin Jyutsu Behandlung gibt es auch kurzfristig Termine.</strong></p>
  </div>
</section>

<section class="section section--rosa-dunkel">
  <div class="content-narrow">
    <p><strong>Hier kannst Du mich ganz einfach kontaktieren.<br>
    Wenn Du Fragen hast oder dich anmelden möchtest,<br>
    freue ich mich auf deine Nachricht und antworte Dir<br>
    sobald wie möglich.<br>
    Teile mir gerne mit, ob ich Dich lieber per E-Mail<br>
    oder telefonisch kontaktieren darf.<br>
    Freie Plätze gibt es voraussichtlich wieder ab Ende Januar 2026.</strong></p>

    <p><strong>Ein Kennenlerngespräch ist</strong><br>
    <strong>jedoch bereits jetzt schon möglich.</strong></p>

    <p><strong>Für eine Jin Shin Jyutsu Behandlung lässt sich meist auch kurzfristig<br>
    ein Termin finden - ein Moment der Ruhe und Entspannung, ganz für Dich.</strong></p>

    <a href="mailto:do.mumenthaler@bluewin.ch" class="btn-weiter">E-Mail an Doris schreiben</a>
  </div>
</section>

<section class="section section--rosa-hell">
  <div class="content-narrow">
    <a href="/galerie/" class="btn-weiter">weiter zu Galerie</a>
  </div>
</section>
